<div class="container">
  <div class="d-flex justify-content-around">
    <div class="products card col-12 col-sm-4 border border-secondary rounded mx-2 my-4 px-0">
        <div class="card-header">
          Products
        </div>
        <div class="js_productsList card-body row px-4 py-2">
          
          <div class="col-12 p-2 my-2 border border-light rounded" *ngFor='let product of data?.customer?.basket?.productLineItemList'>
             <div class="row">
                <a href="#" class="col-6">
                    <figure>
                        <img class="img-fluid" src="{{product.product.image.url}}" alt="{{product.product.image.alt}}" title="{{product.product.image.title}}">
                    </figure>
                </a>
                <div class="col-6 pl-0">
                    <h5>{{product.product.name}}</h5>
                    <p class="fSize-10 text-secondary text-justify">{{product.product.shortDescription}}</p>
                    <div class="row">
                        <div class="col-6 p-0 pl-3">
                           <p class="brand m-0 fSize-10"><span class="text-secondary">Brand: </span>{{product.product.brand}}</p>
                           <p class="prodId text-secondary m-0 fSize-10">ID: {{product.product.id}}</p>
                        </div>
                        <div class="col-6 p-0 pr-3 pt-2 text-right">
                            <p class="fSize-10 m-0" [style.color]='product.product.availability == "Low In Stock" ? "#ffc107" : "#28a745" '>{{product.product.availability}}</p>
                        </div>
                    </div>
                </div>
            </div>
              <div class="row">
                  <div class="col-6 text-nowrap">
                      <button type="button" class="btn btn-info btn-sm fSize-8 mr-1" placement="top" ngbTooltip="{{product.product.category}}"> Category </button>
                      <button type="button" class="btn btn-info btn-sm fSize-8" placement="top" ngbTooltip="name: {{product.product.variationType.name}}, value: {{product.product.variationType.value}}" *ngIf='product.product.variationType'> Variation Type </button>
                  </div>
                  <div class="col-6 text-nowrap pl-0">
                      <p><span class="float-left text-success">Qty: {{product.quantity}}</span> <span class="float-right text-danger">{{product.price}}</span></p>
                  </div>
              </div>
            </div>

        </div>
    </div>  <!-- End of First Column -->

        <div class="address card col-12 col-sm-4 border border-secondary rounded mx-2 my-4 px-0">
            <div class="card-header">
              Address Details
            </div>
            <div class="card-body px-1 py-2">
                <div class="col-12 p-2 my-2">
                      <div class="js_addressRadioBtns container">
                        <label class="custom-control custom-radio col-12" *ngFor='let address of data?.customer?.addressList; let i = index'>
                                <input id="+ idx +" name="radio" type="radio" class="js_addressRadio custom-control-input" [checked]='addressIndex == i'  (click)='onAddressClick(i)'>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{address.address1}}</span>
                        </label>
                      </div><hr>
                </div>
                <div class="js_addressDetails col-12 m-0 p-0">
                  <ul class="list-group col-12 px-2">
                    <li class="list-group-item">Company Name: <span>{{address?.companyName}}</span></li>
                    <li class="list-group-item">First Name: <span>{{address?.firstName}}</span></li>
                    <li class="list-group-item">Last Name: <span>{{address?.lastName}}</span></li>
                    <li class="list-group-item">Phone: <span>{{address?.phone}}</span></li>
                    <li class="list-group-item">Address: <span><address>{{address?.address1}}</address></span></li>
                    <li class="list-group-item" *ngIf='address?.address2 !== null && address?.address2 == undefined'>Second Address: <span><address>{{address?.address2}}</address></span></li>
                    <li class="list-group-item">Suburb: <span>{{address?.suburb}}</span></li>
                    <li class="list-group-item" *ngIf='address?.city !== null && address?.city == undefined'>City: <span>{{address?.city}}</span></li>
                    <li class="list-group-item">State: <span> {{address?.stateCode | uppercase}} </span></li>
                    <li class="list-group-item">Postal Code: <span> {{address?.postalCode}} </span></li>
                    <li class="list-group-item">Country COde: <span> {{address?.countryCode | uppercase}} </span></li>
                  </ul>
                </div>
            </div>
      </div>  <!-- End of Second Column -->

    <div class="payment card col-12 col-sm-4 border border-secondary rounded mx-2 my-4 px-0">
        <div class="card-header">
          Payment and Shipment
        </div>
        <div class="card-body row px-4 py-2">
          <div class="js_payment col-12 p-0 my-2 border border-light rounded">
            <ul class="list-group col-12 p-0">
              <li class="list-group-item">Total Shipping: <span> {{data?.customer?.basket?.shippingTotal}} </span></li>
              <li class="list-group-item">Value including GST: <span> {{data?.customer?.basket?.grandTotal}} </span></li>
              <li class="list-group-item">GST exclusive value: <span> ${{gstExclu}} </span></li>
            </ul>
          </div>
        </div>
    </div>  <!-- End of Third Column -->

  </div> <!-- End of d-flex wrapper -->

</div> <!-- End of main container -->